<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>About Guy Fieri</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <a class="nav-link" href="index">Home</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" href="photos">Photo Gallery</a>
        <a class="nav-link" href="works">Works</a>
      </nav>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Early Life
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Fieri was born Guy Ramsay Ferry on January 22, 1968, in Columbus,
            Ohio, the son of Penelope Anne (née Price) and Lewis James Ferry. He
            grew up in Ferndale in rural Humboldt County, California. During
            high school, he was a foreign exchange student in France, where he
            developed his interest in food and cooking.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Career
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Fieri began his association with food in grade school in Ferndale,
            by selling pretzels from his "Awesome Pretzel" cart and washing
            dishes to finance his trip to France to study.[14] On his return to
            the United States, he worked at the restaurant at the Red Lion Inn
            in Eureka, California, until he went to Las Vegas for college. Fieri
            attended the University of Nevada, Las Vegas, and graduated with a
            Bachelor of Science in Hotel Management in 1990. Soon after
            graduation, he went to work for Stouffer's, as manager of a Long
            Beach, California, restaurant called Parker's Lighthouse. After
            three years in southern California, he became district manager of
            Louise's Trattoria, managing six locations along with recruiting and
            training for the restaurants.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Other projects
            </button>
          </h2>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            In 2009, Fieri began touring with the Guy Fieri Roadshow, a
            multi-state food tour that featured some of his fellow Food Network
            personalities. He also appeared in regional Food Network events,
            such as the 2012 Atlantic City Food and Wine Festival and the 2012
            South Beach Food and Wine Festival, where he officiated at 101 gay
            weddings. In 2015, Fieri officiated at the wedding of celebrity chef
            Art Smith at Miami Beach. The wedding, which included over two dozen
            same-sex couples, was held to celebrate Florida's Supreme Court
            lifting the state ban on same-sex marriage. Fieri owns a vineyard
            and sells his wine under the label Hunt & Ryde, named after his sons
            Hunter and Ryder.
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <img
        src="https://sm.mashable.com/mashable_in/article/g/guy-fieris/guy-fieris-27-best-tweets-of-2019_fhz1.png"
        alt=""
      />
    </div>
  </body>
</html>
