<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Guy Fieri</title>
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link" href="index">Home</a>
      <a class="nav-link" href="about">About</a>
      <a class="nav-link" href="photos">Photo Gallery</a>
      <a class="nav-link" href="works">Works</a>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">“We’re Riding the Bus to Flavortown!”</h1>
        <p class="lead"><em>Guy Fieri</em></p>
      </div>
    </div>
  </body>
  <div class="container">
    <img
      src="https://sm.mashable.com/mashable_in/article/g/guy-fieris/guy-fieris-27-best-tweets-of-2019_fhz1.png"
      alt=""
    />
  </div>
</html>
