<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Works of Guy fieri</title>
  </head>
  <body>
    <nav class="nav">
      <a class="nav-link" href="index">Home</a>
      <a class="nav-link" href="about">About</a>
      <a class="nav-link" href="photos">Photo Gallery</a>
      <a class="nav-link" href="works">Works</a>
    </nav>

    <div class="container">
      <br />
      <br />
      <h3>Restaurants</h3>
      <br />
      In late 1996, Fieri and business partner Steve Gruber opened Johnny
      Garlic's, a "California Pasta Grill" in Santa Rosa, California. A second
      location opened in Windsor in 1999, a third in Petaluma in 2000 or 2001
      (since closed), and a fourth in Roseville in late 2008. Subsequently, they
      developed Tex Wasabi's (barbecue and sushi) in 2003 in Santa Rosa, adding
      a second location in Sacramento's Arden-Arcade area in 2007 (which was
      rebranded as Johnny Garlic's, and then subsequently closed). An additional
      Johnny Garlic's was opened in Dublin, California, in 2011. His first New
      York City restaurant, Guy's American Kitchen and Bar, opened in 2012 to
      brutal New York Times coverage by Pete Wells that Larry Olmsted of Forbes
      called "the most scathing review in the history of the New York Times",
      and "likely the most widely read restaurant review ever." Fieri, for his
      part, accused Wells, the nation's highest profile reviewer, of using
      Fieri's fame as a platform for advancing his own prestige. Despite
      appearing on Restaurant Business's list of the top 100 independent
      restaurants as ranked by sales for four years in a row, the restaurant
      announced plans to close at the end of 2017. In 2011, Fieri partnered with
      Carnival Cruise lines to create Guy's Burger Joint to sell Fieri's burgers
      fleet-wide. As of October 2017, there were 19 restaurants on Carnival's
      cruise ships, including some serving beer-and-BBQ, Guy's Pig & Anchor
      Smokehouse Brewhouse.<br />
      In April 2014, Guy Fieri's Vegas Kitchen and Bar opened in Las Vegas. In
      2015, Guy Fieri's Baltimore Kitchen & Bar opened in Baltimore's Horseshoe
      Casino. In 2018, Fieri collaborated with Planet Hollywood founder Robert
      Earl to open fast-food chicken sandwich shop Chicken Guy! at Disney
      Springs in Walt Disney World.
      <br />
      <h4>Television</h4>
      <br />
      After winning the second season of The Next Food Network Star on April 23,
      2006, Fieri was awarded a six-episode commitment for his own cooking show
      on Food Network. Guy's Big Bite premiered on June 25, 2006 with the most
      recent episode airing on November 16, 2016. <br />
      Diners, Drive-Ins and Dives, his second series, premiered in April 2007 (a
      one-hour special aired in November 2006), with Fieri traveling the country
      visiting local eateries. The New York Times called the series "not a
      cooking show as much as a carefully engineered reality show". Ultimate
      Recipe Showdown, co-hosted with Marc Summers, debuted on February 17,
      2008, and aired for three seasons. On September 14, 2008, Guy Off the Hook
      debuted on Food Network. This special studio audience show aired through
      the end of 2008, but the extra cost of staging an audience show did not
      result in a ratings bump and the concept was discontinued. For
      Thanksgiving 2008, Fieri hosted a one-hour special titled Guy's Family
      Feast. He used the "Guy Off the Hook" set for the special, which was
      broadcast live, on November 28, 2008. Fieri appeared on other Food Network
      programs such as Dinner: Impossible in 2007 and 2009, Paula's Party, Ace
      of Cakes, and The Best Thing I Ever Ate.
      <br />In December 2009, NBC named Fieri as the host of the game show
      Minute to Win It, which premiered in March 2010 and aired for two seasons.
      On May 13, 2012, NBC announced that the game show would not be renewed for
      a third season, citing high production costs and low ratings. Fieri
      receives the key to the city of Ferndale from the Ferndale City Council at
      a special council meeting on November 23, 2012. <br />In January 2012,
      Fieri was one of the two team captains (along with Rachael Ray) in the
      Food Network reality series Rachael vs. Guy: Celebrity Cook-Off. A second
      season of Rachael vs. Guy: Celebrity Cook-Off began airing on Food Network
      on January 6, 2013. A chef challenge show, Guy's Grocery Games, started on
      October 27, 2013, on the Food Network. It features four cooks who battle
      through three rounds, and are judged by three judges. <br />His latest
      series, Guy's Family Road Trip, was chosen as the 2017 lead-out show from
      season 13 of Food Network Star. It previewed on August 13 of that year.
    </div>
  </body>
</html>
